/*Box styling*/
* {
  box-sizing: border-box;
}

/* Page style*/
.page {
  width: 90%;
  max-width: 1200px;
  margin: 90px auto;
  background-color: #F2F3F4;
  box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.8);
}


.alignCenter {
	text-align:center;
}

/* Header style*/
.header {
  background-color:#FFFFFF ;
  color: #76D7C4;
  font-family: Trebuchet MS;
  text-align: right;
  padding-top:20px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 150px;
} 

/* Header card style*/
.headercard{
  background-color:#92b0e1 ;
  background-image: url("prism.png");
  color: #76D7C4;
  font-family: Trebuchet MS;
  display: grid;
  grid-template-columns: 150px 750px 200px;
  border-radius: 25px;
  min-height: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

.row{
	background-color: #FFFFFF;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/*Left Column*/
.leftcolumn {   
  float: left;
  width: 20%;
  font-family: Verdana;
  background-color: #FFFFFF;
  padding-bottom: 10px;
  padding-left: 20px;
  min-height: 370px;
}

h3 {
	text-decoration-color:#1B4F72;
}

.leftcolumn .card ul{
  list-style-type: none;
  text-align: center;
}


.leftcolumn .card a {
	color:#164D4B;
}


.leftcolumn .card a:hover {
  color: #1924B0;
}

/* Right column */
.rightcolumn {
  float: right;
  text-align: left;
  font-family: Arial;
  width: 80%;
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  min-height: 370px;
}

.card {
  border-radius: 25px;
  position: relative;
  background-image: url("green_dust_scratch_@2X.png");
  padding: 20px;
  margin-top: 20px;
  min-height: 210px;
}


.homepagecard {
  border-radius: 25px;
  position: relative;
  background-image: url("green_dust_scratch_@2X.png");
  padding: 20px;
  margin-top: 20px;
}


/* diable and enable menu items*/

.rightcolumn .card1 section {
  display: none;
}
.rightcolumn .card1 section:target {
  border-radius: 25px;
  position: relative;
  background-image: url("green_dust_scratch_@2X.png");
  padding: 20px;
  margin-top: 20px;
  min-height: 210px;
  display: block;
}

/*right column card  anchor*/
.rightcolumn .card a {
  color: black;
}
/*right column card  heading*/
.rightcolumn .card h2 {
  color: #0B5345;
}


/*right column card  anchor hover*/
.rightcolumn .card a:hover {
  color: #1924B0;
}


body {
   text-align: center;
}

.heading {
   padding-bottom: 0px;
}

/*address style*/
.address-contact-info {
   padding-top: 0px;
   padding-bottom: 10px;
}

/*LinkedIn Icon*/
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/**/
.fa-mobile-alt{
  background: #007bb5;
  color: white;
}	

/*Education table - style*/
table, tr, td, th {
	border-collapse: collapse;
	border-spacing: 0;
	padding:5px;
}

/*Education - inner table - style*/
table#EDUCATIONdetails {
  width: 100%;
}


/*job details - header*/
.experience-grid-container {
   display: grid;
   grid-column-gap: 10px;
   grid-template-columns: 600px 300px;
}

/*job details - description*/
.description-grid-container {
   display: grid;
   grid-template-columns: 30px auto;
}

/*skills section*/
.skills-grid-container {
   display: grid;
   grid-template-columns: 200px auto;
}

/*anchor tags - style*/
a {
text-decoration: none;
color: black;
}

a:hover {
  color: #1924B0;
}


/* Download Button style*/
.btn {
  border: none;
  background-color: #eec98c;
  padding: 12px 15px;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
}

.btn:active {
  background-color: #eec98c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn:hover {
  color: #1924B0;
}
